 <p class="subtitle is-3">Planets</p>
<ul>
  <%@planets.each do |planet|%>
  <li><%= planet.name%></li>
<% end %>
</ul>

<div>
<%= link_to "Previous Page", planets_path(page: @page - 1)%>
|
<%= link_to "Next Page", planets_path(page: @page + 1)%>

</div>