<div class="ml-5">
<p> Search results for : <%= params[:keywords]%></p>

<ol>
  <% @planets.each do |planet|%>
  <li class="subtitle is-3"><%=  link_to planet.planet_name, planet %></li>
  <% end %>
</ol>
</div>