<div class="ml-5">
<h1 class="title is-4">About the Project</h1>
<p class="subtitle is-5">The project is about the film Star Wars. Star wars is an American epic spare opera media franchise
created by George Lucas. </p>
<p class="subtitle is-5">In this project, I used datasets from keggle which are Planets and Characters. I imported that datasets from a csv file using
the seed script. My project shows the name of the planets and it's cool information such as name, rotation period, orbital period, diameter, surface water and population.
In the characters dataset, I included informations such as name, height, mass, hair color, skin color, eye color, birth year, gender, species, and to which world they belong to.</p>

</div>